body {
  font-family: 'Poppins', sans-serif;
}

#title {
  background-color: #131313;
}

.container-fluid {
  padding: 2% 7% 7%;
}

.title-image {
  max-width: 600px;
  padding-top: 70px;
  padding-right: 50px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1rem;
  font-family: 'Poppins';
  font-weight: 400;
}

.nav-bag {
  padding: 0 10px 0 110px;
}

.bag {
  max-width: 20px;
}

.bbtn {
  border-radius: 20%;
}

.nav-btn {
  padding: 0 10px;
}

.sbtn1 {
  background-color: #41C485;
  border-color: #41C485;
  color: #fff;
  border-radius: 1rem;
}

.sbtn1:hover {
  background-color: #4c9c75;
  border-color: #4c9c75;
  color: #fff;
  border-radius: 1rem;
}

.toggle {
  width: 40px;
  height: 40px;
  background: #fff;
  cursor: pointer;
  border-radius: 6px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle::before {
  content: '\f6c4';
  font-family: 'fontAwesome';
  font-size: 20px;
}

body.light .toggle {
  background: #131313;
  color: #fff;
}

body.light .toggle::before {
  content: '\f6c3';
  font-family: 'fontAwesome';
  font-size: 20px;
}

body.light .container-fluid {
  background: #ebf5fc;
}

body.light .container-fluid .container a {
  color: #232427;
}

body.light .container-fluid .container a:hover {
  color: #575757;
}

body.light .bbtn {
  background-color: #dae7f0;
  border-color: #dae7f0;
}

body.light .container-fluid .big-heading {
  color: #232427;
}

body.light .container-fluid .obtn1 {
  background-color: #eb5b6d;
  border-color: #eb5b6d;
  border-radius: 1.5rem;
  padding: 12px 24px 12px 24px;
}

body.light .container-fluid .obtn1:hover {
  background-color: #E2293F;
  border-color: #E2293F;
  border-radius: 1.5rem;
  padding: 12px 24px 12px 24px;
}

body.light .container-fluid .menu {
  color: #272733;
}

body.light .container-fluid .menu:hover {
  color: #454457;
}

body.light #items {
  background: #ebf5fc;
}

body.light .container-box .box {
  background: #dae7f0;
}

body.light .container-box .box .name {
  color: #272733;
}

body.light .container-box .box .order {
  background-color: #eb5b6d;
}

body.light #footer {
  background-color: #ebf5fc;
  color: #272733;
}

.big-heading {
  font-weight: 600;
  font-size: 4rem;
  color: #fff;
  padding: 150px 0 60px 0;
}

.menu {
  color: #f3b404;
  margin-left: 60px;
  font-size: 1.2rem;
}

.menu:hover {
  color: #ffce47;
}

.obtn1 {
  background-color: #E2293F;
  border-color: #E2293F;
  border-radius: 1.5rem;
  padding: 12px 24px 12px 24px;
}

.obtn1:hover {
  background-color: #d90d25;
  border-color: #d90d25;
}

#items {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #131313;
}

.container-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  transform-style: preserve-3d;
  margin: 10px;
}

.container-box .box {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 40px;
  background: #232323;
  border-radius: 20px;
  transform-style: preserve-3d;
}

.container-box .box .name {
  position: absolute;
  top:0;
  left: 0;
  text-align: center;
  color: #fff;
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0,0,75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.container-box .box:hover .name {
  top: 40px;
  opacity: 1;
}

.container-box .box .order {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%,0,75px);
  color: #fff;
  background: #333;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.container-box .box:hover .order {
  bottom: 30px;
  opacity: 1;
}

.container-box .box .product {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 230px;
  transition: 0.5s;
  z-index: 11;
  transition: 0.5s;
  transform-style: preserve-3d;
  transform: translate3d(-50%,-50%,0px);
}

.container-box .box:hover .product {
  transform: translate3d(-50%,-50%,100px);
}

.container-box .box:nth-child(1) .order {
  background: #E2293F;
}

.container-box .box:nth-child(2) .order {
  background: #E2293F;
}

.container-box .box:nth-child(3) .order {
  background: #E2293F;
}

.container-box .box:nth-child(4) .order {
  background: #E2293F;
}

.container-box .box:nth-child(5) .order {
  background: #E2293F;
}

.container-box .box:nth-child(6) .order {
  background: #E2293F;
}

.container-box .box:nth-child(7) .order {
  background: #E2293F;
}

.container-box .box:nth-child(8) .order {
  background: #E2293F;
}

.container-box .box:nth-child(9) .order {
  background: #E2293F;
}

#footer {
  background-color: #131313;
  padding: 5% 7% 5%;
  text-align: center;
  color: #fff;
}

.social-icon {
  padding: 15px;
}
